.CurrentStats {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  width: 100%;
  max-width: 300px;
  padding: 8px 0;
  font-weight: 700;
  font-family: var(--secondary-font);
  background: var(--blue);
  position: relative;
  top: 15px;
  border-radius: 3px;
  box-shadow: 0 1px 13px rgba(0,0,0,0.2),
    0 -1px 13px rgba(0,0,0,0.2);
}

.CurrentStatIcon {
  margin-right: 8px;
  opacity: 0.5;
}
