
$green = #4fc08d;
$darkGreen = #3db37d;
$orange = #e96900;
$white = #ffffff;
$blue = #34495e;
$grey0 = #b0b5ba;
$primaryFont = 'Source Sans Pro', sans-serif;
$secondaryFont = 'Montserrat', sans-serif;
