.RepoAdder {
  width: 340px;
  border: 5px solid #e0e0e0;
  height: 243px;
  display: inline-flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 24px 16px;
  overflow: hidden;
  color: #e0e0e0;
  cursor: pointer;
}

.RepoAdder p {
  margin-top: 8px;
  font-weight: 700;
  font-size: 18px;
}

.RepoAdderPlusIcon {
  font-size: 48px;
  color: #e0e0e0;
}

.RepoAdderStage0 {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.RepoAdderStage1 {
  width: 100%;
  height: 100%;
}

.RepoAdderStage1Top {
  background: var(--green);
  color: var(--white);
  padding: 12px 0 4px;
  height:74px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.RepoAdderSearch {
  background: none;
  outline: none;
  border: none;
  color: white;
  font-size: 24px;
  font-family: var(--secondary-font);
  text-align: center;
}

.RepoAdderSearch::-webkit-input-placeholder {
  font-family: var(--secondary-font);
  color: black;
  opacity: 0.25;
  font-size: 24px;
}

.RepoAdderStage1Bottom {
  background: white;
  height: 100%;
}

.RepoAdderSubmitButton {
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
  max-width: 300px;
  min-height: 35px;
  padding: 8px 0;
  font-weight: 700;
  font-family: var(--secondary-font);
  background: var(--blue);
  position: relative;
  top: 11px;
  border-radius: 3px;
  box-shadow: 0 1px 13px rgba(0,0,0,0.2),
    0 -1px 13px rgba(0,0,0,0.2);
}
